#INDICAÇÃO DO ESTADO DO MOMENTO DA APLICAÇÃO
NODE_ENV= development

#VARIAVEIS USADAS DE AMBIENTE USADA NO SERVER.TS E NO ENV/INDEX.TS
HOST='0.0.0.0'
PORT=3333

#POSTGRESQL

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=projetos
POSTGRES_PORT=5432
SCHEMA=public   

DATABASE_URL="postgresql://postgres:password@localhost:5432/projetos?schema=public"

#VARIÁVEL PARA O NUMBER PARA O HASH DA SENHAS O USER

HASH_SALT_ROUNDS=

#VARIÁVEL DO JWT, DÁ CHAVE QUE AUXILIARÁ A FAZER O TOKEN

JWT_SECRET= 

EMAIL_HOST=

EMAIL_PORT=587

EMAIL_USER=

EMAIL_PASS=